@()
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img id="logo" src="@routes.Assets.at("images/logo.png")">RandomHaus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a target="_blank" href="https://www.youtube.com/funhaus">YouTube</a></li>
                <li><a target="_blank" href="https://www.reddit.com/r/funhaus/">Subreddit</a></li>
                <li><a target="_blank" href="https://twitter.com/FunhausTeam">Twitter</a></li>
            </ul>
        </div>
    </div>
</nav>