@(message: String)(series: List[ChannelSeries], filterGroups: List[FilterGroup], filterMap: Map[String, List[models.Filter]])(implicit channels: List[Channel], currentChannel: Channel, links: List[ChannelLink])

@renderFilterGroup(name: String, filters: List[models.Filter]) = {
    <fieldset id="filter@name" class="filter">
        @defining(name.toLowerCase().replaceAll("\\s", "-")) { htmlName =>
            <h4>@name</h4>
            <div class="checkbox">
                <label><input data-tag="all" type="checkbox" checked> All</label>
            </div>
            @for(filter <- filters) {
                <div class="checkbox">
                    <label><input data-tag="@filter.tagName" type="checkbox"> @filter.name</label>
                </div>
            }
        }
    </fieldset>

}

@main("RandomHaus") {
    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mediacontroller.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models.js")" type="text/javascript"></script>
} {
    <div id="main">
        <div id="player"></div>
        <br>
        <div class="btn-group" id="mediaControl">
            <button class="btn btn-primary" onclick="loadRandomVideo()">Random Video</button>
            <button class="btn btn-primary" onclick="loadRandomPlaylist()">Random Playlist</button>
        </div>
        <div id="vidID"></div>
        <h3>Filters</h3>
        <form class="form" role="form">
            <div id="form-body">
                <fieldset id="filterSeries">
                    <h4>Series</h4>
                    <div class="checkbox">
                        <label><input data-series-id="all" type="checkbox" checked> All</label>
                    </div>
                    @for(s <- series) {
                        <div class="checkbox">
                            <label><input data-series-id="@s.id" type="checkbox"> @s.name</label>
                        </div>
                    }
                </fieldset>
                @for(filterGroup <- filterGroups) {
                    @renderFilterGroup(filterGroup.name, filterMap.getOrElse(filterGroup.name, List()))
                }
            </div>
            <button type='button' onclick="loadQueue()" class="btn btn-primary">Create Playlist</button>
        </form>
    </div>

    <script>
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>
}
