@(title: String)(head: Html)(content: Html)(implicit channels: List[Channel], currentChannel: Channel, links: List[ChannelLink])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">*@
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/layout.css")">
        <link rel="shortcut icon" href="@routes.Assets.at("images/logo.png")">
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/lodash/lodash.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        @head
    </head>

    <body @if(currentChannel.backgroundCss.isDefined) {
        style="background:
        @currentChannel.backgroundCss.get;"}>
        @banner(channels, currentChannel, links)
        @content
        @footer()
    </body>
</html>
